* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f7efe0;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #333;
}

i {
  font-size: 4rem;
  color: #fff;
}

ul {
  list-style: none;
}

i:hover {
  color: #ddd;
}

a {
  text-decoration: none;
}

a:visited {
  color: #c68e24;
}

a:hover {
  color: #ce9e44;
}

#title {
  font-size: 3.2rem;
  font-weight: bolder;
  padding: 3%;
  background-color: #fff;
}

.subtitulo {
  font-size: 2.6rem;
  padding: 1.5%;
}

.logo {
  display: none;
}

#header {
  background-color: #c68e24;
  padding: 3% 0;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
}

.nav ul li a:hover {
  color: #ddd;
}

#img-div {
  padding: 1rem 2rem;
  background-color: #fff;
}

#image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

#img-caption {
  margin: .5rem 2rem;
}

p {
  text-align: justify;
  padding: 0 1rem;
}

.img-container {
  padding: 1.5rem;
}

.ztk-img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;

}

.img-caption {
  margin: .5rem 2rem;
}

#redireccion {
  background-color: #fff;
  padding: 1rem 2rem;
}

#tribute-info,
#zettelkasten {
  padding: 0 1rem 2rem;
}

#tribute-info {
  background-color: #fff;
}

.social__icons {
  display: flex;
  justify-content: space-around;
}

#footer {
  background-color: #ce9e44;
  padding: 2rem 4rem;
}

.redireccion__texto {
  font-size: 1.8rem;
  font-weight: lighter;
}