* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f7efe0;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #333;
}

i {
  font-size: 4rem;
  color: #fff;
}

ul {
  list-style: none;
}

i:hover {
  color: #ddd;
}

a {
  text-decoration: none;
}

a:visited {
  color: #c68e24;
}

a:hover {
  color: #ce9e44;
}

#title {
  font-size: 2.6rem;
  font-weight: bolder;
  padding: 1rem;
  background-color: #fff;
}

.subtitulo {
  font-size: 2rem;
  padding: 1.5%;
}

.logo {
  display: none;
}

#header {
  background-color: #c68e24;
  padding: 1rem 0;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
}

.nav ul li a:hover {
  color: #ddd;
}

#img-div {
  padding: 1rem 3rem;
  background-color: #fff;
}

#image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

#img-caption {
  margin: 0.5rem 2rem;
}

p {
  text-align: justify;
  padding: 0 1rem;
}

.img-container {
  padding: 1.5rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.ztk-img, .wiki {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.img-container1, .img-container2 {
  display: none;
}

.img-caption {
  margin: 0.5rem 2rem;
}

#redireccion {
  background-color: #fff;
  padding: 1rem 2rem;
}

#tribute-info,
#zettelkasten {
  padding: 0 1rem 2rem;
}

#tribute-info {
  background-color: #fff;
}

.social__icons {
  display: flex;
  justify-content: space-around;
}

#footer {
  background-color: #ce9e44;
  padding: 2rem 4rem;
}

.redireccion__texto {
  font-size: 1.8rem;
  font-weight: lighter;
}

.contact {
  display: none;
}

/* Versión Movil */

@media (min-width: 1024px) {
  #header {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    padding: 3rem;
  }

  .nav ul {
    display: flex;
    padding-right: 2rem;
    justify-content: space-evenly;
    width: 40rem;
  }

  .logo {
    display: block;
    padding-left: 2rem;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
  }

  .logo:hover {
    cursor: pointer;
  }

  span {
    font-size: 4rem;
    color: #245cc6;
    font-family: "Ramaraja", serif;
    font-weight: lighter;
  }

  #title {
    font-size: 3.2rem;
  }

  .subtitulo {
    font-size: 2.6rem;
  }

  #img-div {
    padding: 1rem 20rem;
    background-color: #fff;
  }

  .img-container {
    padding: 2rem 10rem;
    max-width: 70rem;
  }

  .img-container1 {
    display: block;
    padding: 2rem 10rem;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }

  .img-container2 {
    display: block;
    padding: 0rem 10rem;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  #redireccion{
    padding: 0rem 10rem;
  }

  #tribute-info,
  #zettelkasten {
    padding: 0rem 10rem 5rem;
  }

  .social__icons {
    display: flex;
    justify-content: center;
  }

  li {
    padding: 0rem 1rem;
  }

  i {
    font-size: 5rem;
    color: #fff;
  }

  .contact {
    display: block;
    color: #fff;
    font-size: 2rem;
  }

  .contact:hover {
    cursor: pointer;
  }

  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 10rem;
  }
}
